.main{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #222222;
	color: #aaaaaa;
	padding: 10px;
}

img{
	max-width: 200px;
	max-height: 200px;
}

/* Person elements*/
.person{
	clear: both;
	color: #ddddff;
}
.person_text{
	width: 600px;
	float: left;
}
.person_name{
	font-weight: bold;
	font-size: 2.5em;
}
.person_picture{
	width: 200px;
	float: right;	
}


/* Institution elements */
.institution{
	clear: both;
	margin-top: 25px;
}

.institution_text{	
	width: 580px;
	margin-left: 180px;
}

.institution_title{
	font-weight: bold;
	font-size: 1.5em;
}

.institution_description{
	text-align: justify;
}



.employment{
	
}

.employment_head{
	clear: both;
	color: #ddddff;
	font-style: italic;
	font-weight: bold;
	font-size: 2.0em;
}

.education{
	clear: both;
}

.education_head{
	clear: both;
	color: #ddddff;
	font-style: italic;
	font-weight: bold;
	font-size: 2.0em;
}


/* Project Elements*/

.institution_project{
	margin-left: 10px;
	margin-top: 10px;
}

.project_head{
	clear: both;
	color: #ddddff;
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em;
}

.project{
	margin-top: 15px;
}
.project_customer{
	margin-left: 150px;
	font-style: italic;
}

.project_type{
	font-weight: bold;	
}
.project_title{
	margin-left: 150px;
	font-style: italic;
}

.project_description{
	margin-left: 150px;
	text-align: justify;
}


/* common */
.date{
	font-weight: bold;
	font-size: 1.0em;
	float: left;
	width: 150px;
}
